/* ----------- VARIABLES    */
	@color_primario:#635e9f;
	@color_secundario:#5a339b;
	@color_morado:#38315c;
	@color_terciario:#4084c5;	
	@color_cuarto:#9ea9af;


/* ----------- FUENTES      */ 
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	.oswald{
		font-family: 'Oswald', sans-serif;
		margin:0;
		padding:0;
	}
	body{
		font-family: 'Lato', sans-serif;
		font-size: 14px;
	}

/* ----------- COLORES      */
	a,
	a:hover,
	.uk-navbar-dropdown-nav>li>a,
	.color-general{
		color: black;
	}
	em,
	.buybutton,
	.uk-navbar-dropdown-nav>li>a:hover,
	.color-primary,
	.color-primary-hover:hover{
		color: @color_primario;
	}
	.buybutton:hover,
	.social,
	.color-secondary{
		color: @color_secundario;
	}
	.color-terciario{
		color: @color_terciario;
	}
	.color-verde{
		color: #22cf5b;
	}
	.color-rojo{
		color: #c4262e;
	}
	.color-rojo-vivo{
		color: #ff0000;
	}
	.color-gris-9{
		color: #8c8b8b;
	}
	.color-gris-7{
		color: #777;
	}
	.color-gris-6{
		color: #666;
	}
	.color-gris-4{
		color: #444;
	}
	.color-gris{
		color: #a7a6a4;
	}
	.color-gris-3{
		color: #333;
	}
	.color-gris-2{
		color: #222;
	}
	.color-gris-a,
	.color-gris-a:hover{
		color: #a6a8ab;
	}
	.color-gris-d{
		color: #ddd;
	}
	.uk-accordion-title:focus,
	.uk-accordion-title:hover,	
	.color-blanco,
	.color-blanco:hover{
		color: white;
	}
	.uk-slidenav,
	.color-negro{
		color: black;
	}

/* ----------- FONDOS       */
	.bg-primary{
		background: @color_primario;
	}
	.ajax-file-upload{
		background: @color_primario!important;
	}
	.bg-secondary{
		background: @color_secundario;
	}
	
	.uk-slidenav,
	.bg-none{
		background: none;
	}
	.bg-danger,
	.bg-red{
		background: #ff5d55;
	}
	.bg-success{
		background: #9CDAB7;
	}
	.bg-blue{
		background: #32b4cc;
	}
	.bg-warning,
	.bg-yellow{
		background: #f6b61a;
	}

	.uk-navbar-dropdown,
	.bg-white{
		background: white;
	}
	.bg-gris-claro{
		background: #DDD;
	}
	.bg-gris{
		background: #888;
	}
	.uk-subnav-pill > .uk-active > a,
	.bg-gris-oscuro{
		background: #444;
	}
	.bg-black{
		background: black;
	}

	.bg-dark{
		background: rgba(0,0,0,.8);
	}
	.bg-oscuro{
		background: rgba(0,0,0,.5);
	}
	.bg-claro{
		background: rgba(250,250,250,.7);
	}

	.bg-test1{
		background: #ff0;
	}
	.bg-test2{
		background: #f0f;
	}
	.bg-test3{
		background: #0ff;
	}
	.grayscale{
		filter: grayscale(100%);
	}
	.grayscale:hover{
		filter: grayscale(0%);
		transition: .5s;
	}

/* ----------- NAVEGACIÓN   */
	.uk-navbar-nav > li > a,
	.uk-navbar-item,
	.uk-navbar-toggle {
		border-bottom: solid 3px transparent;
		color: black;
		font-family: 'Lato', sans-serif;
		font-size: 1em;
		padding: 0 20px;
		min-height: 50px;
		text-transform: capitalize;
	}
	.uk-navbar-nav > li.uk-active > a,
	.uk-navbar-nav > li:hover > a,
	.uk-navbar-nav > li > a:focus,
	.uk-navbar-nav > li > a.uk-open {
		border-bottom: solid 3px @color_primario;
		color: black;
		outline: none;
	}
	.uk-navbar-dropdown-nav{
		text-align: left;
	}
	.uk-navbar-dropdown {
		margin: 0;
	}
	.uk-navbar-dropdown-nav>li>a{
		font-size: 18px;
		margin: 0;
		padding-left: 5px;
	}


	/* Off canvas */
	.uk-offcanvas-bar{
		background: black;
	}
	.uk-offcanvas-bar a{
		border:solid 1px #666;
		color: #CCC;
		background: #222;
		font-size: 1em!important;
		text-align: left;
		padding-left: 10px!important;
	}

	.uk-offcanvas-bar a:hover{
		color:#DDD;
		background: #333;
	}

	.uk-offcanvas-bar li{
		border-radius: 10px;
		margin-top: 5px;
	}

	.uk-offcanvas-bar .uk-nav-sub a{
		padding-left: 20px;
	}
	.uk-offcanvas-overlay::before{
		background: rgba(0,0,0,.5);
	}


/* ----------- TEMPLATE     */
	.padding-100{
		padding:200px 0;
	}
	.input-personal{
		border: solid 1px @color_primario;
	}
/*  ---------- VERO CSS    */
	.banner{
		background-repeat: no-repeat;
		background-position:center;
		height:auto;
		margin-top:-3px;
		width:100%;
	}
	/*  BACKGROUND ESPACIO  */
	.bg_espacio{
		background-image: url('../img/design/banner_1.png');
		.banner;
		background-size:cover!important;
		.height_120{
			height:120px;
		}
		/*SLIDER HOME*/
		.slider_principal{
			padding-bottom:60px;
			ul li div{
				height:70vh;
			}
			.contain_flecha{
				margin-bottom:90px;
				/*flechas*/
				.uk-slidenav{
					margin:0;
					padding:0
				}
				.uk-previous{
					background:@color_terciario;
					margin-right:-50%;
					margin-top: 40vh;
					margin-left:-50%!important;
					svg{
						color:#fff;
						width: 60px;
					    height:60px;
					    padding:15px;
					}
				}
				.uk-next{
					background:@color_terciario;
					margin-left:-48%;
					margin-top: 40vh;
					margin-right:-50%!important;
					svg{
						color:#fff;
						width:60px;
					    height:60px;
					    padding:15px;
					}
				}
			}
		}
		/**/
		.container_table_circle{
			.uk-container{
				padding-right:0;
				.uk-grid{
					margin-left:0;
					.tabla{
						padding-left: 0;
						.bg_tabla{
							background-size: contain;
							background-repeat: no-repeat;
							background-size: 100% 100%;
							height:300px;
							padding-left: 0;
							padding:20px;
							width:100%;
							.uk-grid{
								margin-left:0;
								.titles{
									color:#38315c;
									margin:0;
									margin-left:40px;
									padding:0;
									font-size:24px;
								}
								.table{
									margin-left: 0; 
									padding-left:0;
									.uk-grid{
										margin-left: 0; 
										padding-left:0;
										.container-row{
											padding-left: 0;
											.uk-grid{
												margin-left: 0;
												height: 154px;
												overflow: scroll;
												.t_left{
													border-right:solid 1px;
													color:#38315c;
													font-size:18px;

												}
												.t_right{
													color:#38315c;
													font-size:18px;

												}
											}
										}
									}
								}
							}
						}
					}
					.circle{
						background:#635e9f;
						border-radius:100%;
						height:450px;
						width:450px;
						.uk-grid{
							padding-left: 0;
							.c_right{
								margin-top: 200px;
								padding-right:4px;
								color:#fff;
							}
							.c_left{
								margin-top: 150px;
								margin-right:40px;
								padding-left: 0;
								.c_scroll{
									color:#fff;
									height:180px;
									overflow: scroll; 
									text-align:left;
								}
							}
						}
					}
				}
			}
		}
	}

	/*  BACKGROUND MORADO  */
	.bg_center{
		background-image: url('../img/design/banner_center.png');
		background-size:100% 100%;

		.banner;
		padding-top:100px
		.contain_acordion{;border:solid red 4px;

		}
	}
	.acordion li .uk-accordion-title{
		background:#9ea9af;
		text-align:left;
		width:40%;
		color:#5a339b;
		font-size:40px;
		margin:0;
		padding:0 10px;
		font-weight:600;
	}
	.hover_elements{
		.container_vista{
			border-radius:2px 24px 24px 24px;
			background:#fff;
			height: 380px;
			padding: 20px 10px;
			.container_v{
				color:#38315c;
				font-size:24px;
				padding-bottom:10px;
				padding-top:36px;
				div{
					color:#000;
					font-size:18px;
					padding-top:10px;
				}
			}
			.contain_h{
				display:none;
			}

		}
		&:hover{
			
			img{display:none;height:1px;}
			.container_v{
				display:none;
				height:1px;
				div{
					display:none;
					height:1px;
				}
			}
			.contain_h{
				display:block;
				color:yellow;
				padding-top:40%;
			}
			
		}
	}		
		

	/* BACKGROUND GRIS*/
	.bg_central{
		background-color:#0c0822;
		background-image: url('../img/design/banner_central.png');
		background-size:100% 100%;
		.banner;
		padding-top:100px;
		
	}
	
	
	/*SCROOL*/
	::-webkit-scrollbar-thumb{
		background:#4084c5!important;
	}

	/* FOOTER */
	.footer{
		background-color:#e8e4e4;
		background-image: url('../img/design/banner_footer.png');
		.banner;
		padding-top:100px;
	}
	.footer_ul {
	    justify-content: space-between;
	    display: flex;
	    flex-wrap: wrap;
	    list-style: none;
	    padding: 0;
	    li {
		    line-height: 2rem;
		    text-align: left;
		}
	}
	
	

/*  ---------- GENERALES    */
	.uk-pagination li{
		padding-left: 5px;
	}
	.uk-pagination a{
		padding: 2px 10px;
		border-radius: 100%;
		background: white;
		border: @color_primario 1px solid; 
		color: @color_primario;
	}
	.uk-pagination .uk-active,
	.uk-pagination a:hover{
		background: @color_primario;
		color: white;
		border: @color_primario 1px solid;
	}
	.pagination-arrows{
		background: none!important;
		border: none!important;
		color: @color_primario!important;
	}
	.uk-lightbox .uk-slidenav{
		border-radius: 100px;
		color: white;
		background: @color_primario;
	}
	#cotizacion-fixed{
		top:0;
		right:0px;
		width:30px;
		z-index: 1011;
	}
	#cotizacion-fixed div{
		width: 40px;
		position: fixed;
		right: 0;
		top: 50%;
		margin-top: -150px;
	}
	#cotizacion-fixed img{
		box-shadow: 0 0 20px white;
		border-radius: 10px 0 0 10px;
	}
	a{
		text-decoration: none!important;
	}
	a,
	a:hover,
	.uk-button,
	.uk-button:hover,
	.transicion,
	.transicion:hover{border:solid red 1px;
		-webkit-transition: all .5s ease;
		-moz-transition: all .5s ease;
		-o-transition: all .5s ease;
		transition: all .5s ease;
	}
	h1{
		font-size: 1.2em;
	}
	h2{
		font-size: 1.1em;
	}
	h3,h4,h5,h6{
		font-size: 1em;
	}
	.alpha0{
		opacity: 0;
	}
	.claro,
	.alpha-1-5:hover{
		opacity:.6;
	}
	.oscuro,
	.alpha-1-0:hover{
		opacity:0;
	}
	.alpha-1-0,
	.alpha-1-5,
	.claro:hover,
	.oscuro:hover,
	.alpha1hover:hover{
		opacity: 1;
	}
	.margin-0{
		margin: 0;
	}
	.margin-top-5{
		margin-top: 5px;
	}
	.margin-top-10{
		margin-top: 10px;
	}
	.margin-top-20{
		margin-top: 20px;
	}
	.margin-top-25{
		margin-top: 25px!important;
	}
	.margin-top-50{
		margin-top: 50px;
	}
	.margin-top-100{
		margin-top: 100px;
	}
	.margin-top-menos-150{
		margin-top: -150px;
	}
	.margin-top-menos-100{
		margin-top: -100px;
	}
	.margin-top-menos-50{
		margin-top: -50px;
	}
	.margin-top-menos-20{
		margin-top: -20px;
	}
	.margin-top-menos-10{
		margin-top: -10px;
	}
	.margin-bottom-50{
		margin-bottom: 50px;
	}
	.margin-h-5{
		margin-left: 5px;
		margin-right: 5px;
	}
	.margin-h-10{
		margin-left: 10px;
		margin-right:10px;
	}
	.margin-h-15{
		margin-left: 15px;
		margin-right:15px;
	}
	.margin-h-20{
		margin-left: 20px;
		margin-right:20px;
	}
	.margin-h-25{
		margin-left: 25px;
		margin-right:25px;
	}
	.margin-v-20{
		margin-bottom: 20px;
		margin-top: 20px;
	}
	.margin-v-25{
		margin-bottom: 25px;
		margin-top: 25px;
	}
	.margin-v-50{
		margin-bottom: 50px;
		margin-top: 50px;
	}
	.margin-v-70{
		margin-bottom: 70px;
		margin-top: 70px;
	}
	.margin-right-20{
		margin-right: 20px;
	}
	.margin-right-menos-50{
		margin-right: -45px;
	}
	.margin-right-menos-20{
		margin-right: -15px;
	}
	.padding-bottom-10{
		padding-bottom: 10px;
	}
	.padding-bottom-20{
		padding-bottom: 20px;
	}
	.padding-bottom-50{
		padding-bottom: 50px;
	}
	.padding-bottom-60{
		padding-bottom: 60px;
	}
	.padding-bottom-100{
		padding-bottom: 100px;
	}
	.padding-bottom-200{
		padding-bottom: 200px;
	}
	.padding-top-5{
		padding-top: 5px;
	}
	.padding-top-10{
		padding-top: 10px;
	}
	.padding-top-20{
		padding-top: 20px;
	}
	.padding-top-30{
		padding-top: 30px;
	}
	.padding-top-40{
		padding-top: 40px;
	}
	.padding-top-50{
		padding-top: 50px;
	}
	.padding-top-100{
		padding-top: 100px;
	}
	.padding-v-3{
		padding-bottom: 3px;
		padding-top: 3px;
	}
	.padding-v-5{
		padding-bottom: 5px;
		padding-top: 5px;
	}
	.padding-v-10{
		padding-bottom: 10px;
		padding-top: 10px;
	}
	.padding-v-20{
		padding-bottom: 20px;
		padding-top: 20px;
	}
	.padding-v-50{
		padding-bottom: 50px;
		padding-top: 50px;
	}
	.padding-v-100{
		padding-bottom: 100px;
		padding-top: 100px;
	}
	.padding-left-10{
		padding-left: 10px;
	}
	.padding-left-20{
		padding-left: 20px;
	}
	.padding-left-50{
		padding-left: 50px;
	}
	.padding-left-100{
		padding-left: 100px;
	}
	.padding-right-10{
		padding-right: 10px;
	}
	.padding-right-20{
		padding-right: 20px;
	}
	.padding-right-50{
		padding-right: 50px;
	}
	.padding-h-5{
		padding-left: 5px;
		padding-right: 5px;
	}
	.padding-h-10{
		padding-left: 10px;
		padding-right: 10px;
	}
	.padding-h-20{
		padding-left: 20px;
		padding-right: 20px;
	}
	.padding-h-30{
		padding-left: 30px;
		padding-right: 30px;
	}
	.padding-h-50{
		padding-left: 50px;
		padding-right: 50px;
	}
	.padding-h-70{
		padding-left: 70px;
		padding-right: 70px;
	}
	.padding-0{
		padding: 0px;
	}
	.padding-5{
		padding:5px;
	}
	.padding-10{
		padding:10px;
	}
	.padding-15{
		padding:15px;
	}
	.padding-20{
		padding:20px;
	}
	.padding-30{
		padding:30px;
	}
	.padding-50{
		padding:50px;
	}
	.min-height-150px{
		min-height: 150px;
	}
	.min-height-250px{
		min-height: 250px;
	}
	.max-height-300px{
		max-height: 300px;
	}
	.min-height-500px{
		min-height: 500px;
	}
	.max-width-200{
		max-width: 200px;
	}
	.max-width-600{
		max-width: 600px;
	}
	.pointer{
		cursor: pointer;
	}
	#map{
		min-height: 400px;
	}
	.text-5{
		font-size: .5em;
	}
	.text-6{
		font-size: .6em;
	}
	.text-xs,
	.text-7{
		font-size: .7em;
	}
	.text-8{
		font-size: .8em;
	}
	.text-sm,
	.text-9
	{
		font-size: .9em;
	}
	.text-11
	{
		font-size: 1.1em;
	}
	.text-lg{
		font-size: 1.2em;
	}
	.text-xl{
		font-size: 1.5em;
	}
	.text-xxl{
		font-size: 2em;
	}
	.text-xxxl{
		font-size: 3em;
	}
	.text-v{
		writing-mode: vertical-lr;
		transform: rotate(180deg);
	}
	.z1{
		z-index: 1;
	}
	.z2{
		z-index: 2;
	}
	textarea{
		resize:none;
	}

	/* BOTONES */
	.uk-button{
		font-weight: 700;
		text-transform: none;
		border-radius:24px;
	}

	/* Danger */
	.uk-button-danger{border:solid yellow!important;
		background: #f00;
		color: #fff;
	}
	.uk-button-danger:active,
	.uk-button-danger.uk-active,
	.uk-button-danger:hover,
	.uk-button-danger:focus{
		background: #a00;
		color: #fff;
		border:solid green;
	}

	/*  Blanco */
	.uk-button-white {border: solid purple!important;
	  background-color: #fff;
	  color: #333;
	  border: 1px solid #fff;
	}
	/* Hover + Focus */
	.uk-button-white:hover,
	.uk-button-white:focus,
	.uk-button-white:active,
	.uk-button-white.uk-active {
	  background-color: #ddd;border: solid green!important;
	  color: #000;
	}

	/* Personal */
	.uk-button-personal {
		  background: @color_terciario;
		  color: white;
		  border: solid 2px @color_terciario;
		  font-size:12px;
		  font-weight:400;
	}
	.uk-button-blanco{
		margin-top: -100px;
	    margin-right: 12%;
	    float: right;
	    background: #fff;
	}
	/* Hover + Focus */
	.uk-button-personal:active,
	.uk-button-personal.uk-active,
	.uk-button-personal:hover,
	.uk-button-personal:focus {
		  background-color: white;
		  border: solid 2px @color_primario;
		  color: @color_primario;
	}


	.uk-lightbox {
		background: rgba(0,0,0,.7)!important;
	}
	.uk-notification-message{
		background: none!important;
		color: white;
		text-align: center;
	}
	.uk-notification-message div{
		padding-top: 20px;
		padding-bottom: 20px;
		border-radius: 10px;
	}

/* ----------- CHAT DE WHATSAPP  */
	#whatsapp-plugin{
		background: url(../img/design/whats-bg.jpg);
		box-shadow: 0 0 10px rgba(0,0,0,0.3);
		width: 300px;
		position: fixed;
		bottom: 0;
		right: 30px;
		border-radius: 10px 10px 0 0;
	}
	#whats-show{
	    background-color: rgb(9, 94, 84);
		box-shadow: 0 0 10px rgba(0,0,0,0.3);
		color: white;
		position: fixed;
		bottom: 30px;
		right: 30px;
		padding: 10px 13px;
	}
	#whats-head{
	    background-color: rgb(9, 94, 84);
		border-radius: 10px 10px 0 0;
		line-height: 18px;
	}
	#whats-body-1{
		box-sizing: border-box;
		height: 120px;
	}
	#whats-body-2{
		background: url(../img/design/whats-globo.png) no-repeat center left;
		box-sizing: border-box;
		font-size: 13px;
		height: 100px;
		padding: 33px 0 0 35px;
		height: 120px;
	}
	#whats-footer{
		background: white;
		height: 60px;
	}
	#button-whats{
		background: rgb(79, 206, 93);
		color: white;
		border-radius: 50px;
	}
	/* SCROLL */
	::-webkit-scrollbar {
	  width: 8px;
	}
	/* Track */
	::-webkit-scrollbar-track {
	  box-shadow: inset 0 0 0 transparent; 
	  border-radius: 8px;
	  background: transparent;
	}
	/* Handle */
	::-webkit-scrollbar-thumb {
	  border-radius: 8px;
	  background: #CCC;
	}
	/* Handle on hover */
	::-webkit-scrollbar-thumb:hover {
	  background: transparent; 
	}

/* ----------- XML SITE MAP */
	urlset{
		background: url(../img/design/logo.png) no-repeat top center @color_primario;
		padding-top: 110px;
	}
	url {
		background: #fff;
		display: block;
		padding: 10px
	}
	loc{
		display: block;
		margin: 0 auto;
		width: 1200px;
	}

/* ----------- MEDIA QUERY  */
	@media (min-width: 1800px){
	}
	@media (max-width: 1600px){/*Tamaño xl*/
	}
	@media (max-width: 1400px){
	}
	@media (max-width: 1200px){/*Tamaño l*/
	}
	@media (max-width: 960px){ /*Tamaño m*/
	}
	@media (max-width: 820px){
	}
	@media (max-width: 640px){/* Tamaño s*/
	}
	@media (max-width: 550px){
	}

